.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  align-items: right;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.navbar {
  padding: 1rem 2rem !important;
  box-shadow: 2px 2px 12px 2px gray;
  background-color: #0d60c8 !important;
  flex-grow: 0 !important;
}

body {
  background-color: #f2f5f7;
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.questions {
  flex-grow: 1;
  width: 55%;
  margin: auto;
  background-color: white;
  padding: 3% 5%;
  box-shadow: 2px 2px 20px 5px #dfe1e2;
}

.questions li {
  background-color: rgb(248, 197, 197);
  margin: 2%;
  padding: 2%;
  border-left: 7px solid red;
  list-style: none;
  width: 70%;
  cursor: pointer;
}

.questions p,
.questions ul {
  background-color: rgb(202, 220, 255);
  border-left: 7px solid rgb(77, 80, 253);
  margin: 0 2%;
  padding: 2%;
}

.questions ul {
  margin-bottom: 35px;
}

.questions p {
  font-family: "Alata", sans-serif;
}

.questions .right {
  border-left: 7px solid green;
  background-color: rgb(227, 247, 211);
  font-family: "Alata", sans-serif;
}

@media (max-width: 720px) {
  .questions {
    width: 75%;
  }
}

.blue-bg {
  background-color: rgb(124, 124, 124) !important;
  border-left: 7px solid rgb(49, 49, 49) !important;
  color: white;
}

#gameOver {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: wheat;
}

.hidden {
  display: none !important;
}

.timer {
  height: 50px;
  background: green;
  width: 100%;
  animation: 10s timer infinite linear;
}

@keyframes timer {
  100% {
    width: 0%;
    background: red;
  }
  50% {
    background: orange;
  }
  0% {
    width: 100%;
  }
} */
